/*Обнуление, базовые стили*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

a {
  color: inherit;
}

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  background-color: #f3f3f3;
  font-family: "Lato", "Arial", sans-serif; 
}

@media(min-width: 1921px) {
  .header {
    background-size: cover;
  }
}

/* HEADER Start */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  color: white;
  background-image: url("../imgs/background.png");
  background-repeat: no-repeat;
  
  min-height: 1131px;
  /* min-width: 1920px; */
}

.header__logo {
  max-width: 195px;
  max-height: 123px;

  margin-top: 164px;
  margin-bottom: 140px;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-block__header-text {
margin-bottom: 15px;
}

.text-block__main-text {
  margin-bottom: 35px;
}

.header-text {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 7px;
}

.main-text {
  font-size: 25px;
  letter-spacing: 5px;
}

.decorite-line {
  border-bottom: 2px solid white;
  width: 105px;
  margin: 15px;
}

.header__button-group {
  align-items: center;
  margin-top: 195px;
}

.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;

  padding: 13px 36px;
  
  border: 1px solid white;
}

.button:visited {
  color: white;
}

.button:active {
  color:#3c3c3c;
  border-color: #3c3c3c;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow--down {
  height: 12px;
  width: 12px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
}

.button-group__arrow--down {
  margin: 70px auto 140px;
}

.header__button-group:hover .arrow--down {
  transform: translateY(20px) rotate(45deg);
  transition: 500ms;
}

.menu-horizontal {
  align-self: stretch;
}

.header__menu {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #fff;
  
  height: 50px;

  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
}

.header__menu__item{
  margin: 15px 5px 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.header__menu__item:hover {
  text-decoration: underline;
}

.header__menu__item_active {
  color: #b3a77f;
}
/* HEADER End */

/* ABOUT Start */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  padding-top: 135px;
  padding-bottom: 90px;
}

.text-block__about {
  /* max-width: 700px; */
  text-align: center; 
}

.about__text-block__main-text {
  font-size: 14px;
  color: rgb(134, 133, 133);
  line-height: 26px;
  letter-spacing: 0px;

  max-width: 710px;

  margin-top: 16px;
}

.decorite-line--black {
  border-color: #000000;
  border-width: 1px;
  width: 80px;
}
.services {
  display: flex;
  margin-top: 30px;
}

.services__item {
  width: 266px;
  text-align: center;
  margin: 0 20px;
}

.services__item:nth-child(2) .services__header::first-letter {
  text-transform: lowercase;
}

.circle-frame {
  position: relative;
  width: 92px;
  height: 92px;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto;
}

.icon {
  position: absolute;
  top: 30px;
  left: 24px;
}

/* .icon--web {} */

.icon--mobile {
  left: 30px;
}

.icon--marketing {
  left: 28px;
}

/* .services__icon {} */

.services__header {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;

  margin-top: 38px;
  margin-bottom: 27px;
}

/* .services__main-text {} */

/* ABOUT End */

/* PORTFOLIO Start */

.portfolio {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 600px;

  padding-top: 103px;
}

.header-text__portfolio {
  font-weight: 900;
  letter-spacing: 5px;

  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__portfolio {
  margin-top: 35px;
  margin-bottom: 125px;
}

.filter-item {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0px 23px;
}

.filter-item--active{
  color: #b3a77f;
}

.imgs-grid {
  display: flex;
  flex-wrap: wrap;

  max-width: 1132px;
}

.imgs-grid__template {
  flex-grow: 1;
  width: 538px;
  height: 365px;
  background-size: cover;
  background-color: #eaeaea;

  margin: 9px 14px;
}

.template--keksby {
  background-image: url("../imgs/template_keksby.png") ;
}

.template--my-first-site{
  background-image: url("../imgs/template_my-first-site.png") ;
}

.template--netflix{
  background-image: url("../imgs/template_netflix.png");
}

.template--pratchett{
  background-image: url("../imgs/template_pratchett.png");
}

.template--tiffany{
  background-image: url("../imgs/template_tiffany.png");
  background-position-y: center;
}

.template--zippy{
  background-image: url("../imgs/template_zippy.png") ;
}


.button--black {
  border-color: #000000;
  color: #000000;
}

.button__portfolio {
  margin-top: 55px;
  margin-bottom: 60px;
}

.button--black:visited {
  color: #000000;
}

.button--black:hover {
  background-color: rgba(60, 60, 60, 0.2);
}

.button--black:active {
  background-color: rgba(60, 60, 60, 0.4);
}


/* PORFOLIO End */